@keyframes CambioColor {
    0% {
        background-color: #dbbc34;
    }

    50% {
        background-color: #afd888;
    }

    100% {
        background-color: #6e5321;
    }
}

#boton-enviar {
    background-color: #dfd78e;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation: CambioColor 3s infinite;
}

iframe {
    width: 100%;
    height: 20rem;
}

.container-logo-wpp {
    display: flex;
    justify-content: end;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#logo-wpp {
    width: 80px;
    animation: tamano 2s infinite;
    margin: 6px;
}

#logo-wpp:hover {
    padding: 10px;
    cursor: pointer;
}

@keyframes tamano {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}