@media (max-width: 768px) {
    header {
        display: block;
    }

    main {
        h1 {
            font-size: 3.5rem;
        }
    }


    .main-productos {
        p {
            margin: 0 20px;
        }

        .section-productos {
            div {
                .img-modelos-productos {
                    width: 18rem;
                    height: 18rem;
                }
            }
        }
    }

    .descripcion {
        margin: 0 20px;
    }

    #navbar-custom {
        display: none;
    }

    #acceso-custom {
        display: none;
    }

    .first-section {
        display: block;
        text-align: center;

        img {
            width: 17rem;
        }
    }

    .second-section {
        display: block;
        text-align: center;

        img {
            width: 17rem;
        }
    }

    #carouselExampleSlidesOnly {
        display: block;
    }

    #imagenes-inicio {
        display: none;
    }

    #main-ingresar {
        margin: 200px 0;
    }

    #main-registrarse {
        margin: 100px 0;
    }

}