@media (max-width: 768px) {
    header {
        display: block;
    }

    main {
        h1 {
            font-size: 3.5rem;
        }
    }


    .main-productos {
        p {
            margin: 0 20px;
        }

        .section-productos {
            div {
                .img-modelos-productos {
                    width: 18rem;
                    height: 18rem;
                }
            }
        }
    }

    .descripcion {
        margin: 0 20px;
    }

    #navbar-custom {
        display: none;
    }

    #acceso-custom {
        display: none;
    }

    .first-section {
        display: block;
        text-align: center;

        img {
            width: 17rem;
        }
    }

    .second-section {
        display: block;
        text-align: center;

        img {
            width: 17rem;
        }
    }

    #carouselExampleSlidesOnly {
        display: block;
    }

    #imagenes-inicio {
        display: none;
    }

    #main-ingresar {
        margin: 200px 0;
    }

    #main-registrarse {
        margin: 100px 0;
    }

    .container-logo-wpp {
        display: flex;
        justify-content: end;
        position: fixed;
        bottom: 20px;
        right: 20px;
    }

    #logo-wpp {
        width: 50px;
        animation: tamano 2s infinite;
        margin: 6px;
    }

    #logo-wpp:hover {
        padding: 10px;
        cursor: pointer;
    }

    @keyframes tamano {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.1);
        }

        100% {
            transform: scale(1);
        }
    }

}