@media (max-width: 1100px) {
    #imagenes-inicio {
        .imagen-modelos {
            width: 100vh;
            height: 18rem;
        }
    }

    #imagenes-inicio {
        .imagen-modelos:nth-child(3) {
            display: none;
        }
    }
}