.second-section {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    background-color: #b9a97d;
    border-top: 2px solid #d4d636;

    img {
        width: 25rem;
        margin: 10px;
    }

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
            color: $color-p;
            font-size: larger;
            font-style: italic;
        }

        button {
            @extend .button;
        }

        button:hover {
            border: 1px solid #e6e61d;
            box-shadow: 0 0 10px 1px #e6e61d;
        }

        a {
            color: #000;
        }
    }

    img {
        border-radius: 10px;
        border: 2px solid #d4d636;
    }
}