* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #c09624;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 2px solid #d4d636;
}

.logo-navbar h2 {
    font-size: 2rem;
}

.logo-navbar {
    margin-left: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.navbar {
    margin-left: 20px;
}

.navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 10px;
}

.navbar ul li a {
    text-decoration: none;
    background-color: #5f3522;
    padding: 10px;
    color: #feffc5;
    border: 2px solid #d4d636;
    border-radius: 10px;
}

.navbar ul li a:hover {
    background-color: #575348d2;
    text-decoration: underline;

}

.acceso {
    display: flex;
    gap: 10px;
    margin-right: 10px;
}

.acceso a {
    text-decoration: none;
    background-color: #6c6d27;
    padding: 10px;
    color: #feffc5;
    border: 2px solid #d4d636;
    border-radius: 10px;
}

.acceso a:hover {
    background-color: #92bd2ed2;
    text-decoration: underline;
}


.img-inicio {
    display: flex;
    border-bottom: 2px solid #d4d636;
}

.imagen-modelos {
    max-width: 32rem;
    height: 18rem;
}

main {
    background-color: #ecee78;
    padding-bottom: 20px;
}

main h1 {
    text-align: center;
    font-size: 4rem;
}

.descripcion {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
}

.first-section {
    display: flex;
    justify-content: space-around;
}

.first-section img {
    width: 25rem;
}

.first-section div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.first-section div button {
    padding: 10px;
    margin: 20px auto;
    background-color: #6c6d27;
    border-radius: 10px;
    border: 1px solid #5f3522;
}