* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #FFF3CD;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo-navbar {
  margin-left: 10px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
}
header .logo-navbar #logo {
  padding: 0;
  margin: 0;
  width: 6rem;
  height: 6rem;
}
header .logo-navbar h2 {
  font-size: 2rem;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: #000;
}
header .logo-navbar .navbar {
  margin-left: 20px;
}
header .logo-navbar .navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 10px;
}
header .logo-navbar .navbar ul li a {
  text-decoration: none;
  background-color: #5f3522;
  padding: 10px;
  color: #feffc5;
  border: 2px solid rgba(240, 237, 236, 0.9254901961);
  border-radius: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
header .logo-navbar .navbar ul li a:hover {
  background-color: #743a1f;
}
header .acceso {
  display: flex;
  gap: 10px;
  margin-right: 10px;
}
header .acceso a {
  text-decoration: none;
  background-color: #6c6d27;
  padding: 10px;
  color: #feffc5;
  border: 2px solid rgba(240, 237, 236, 0.9254901961);
  border-radius: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
header .acceso a:hover {
  background-color: rgba(111, 136, 54, 0.8235294118);
}

main {
  background-color: #999983;
  padding-bottom: 20px;
}
main h1 {
  text-align: center;
  font-size: 4rem;
  color: #362802;
}
main .img-inicio {
  display: flex;
  border-bottom: 2px solid #d4d636;
}
main .img-inicio .imagen-modelos {
  height: 17.85rem;
}

.descripcion {
  color: #552509;
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 17px;
}

.button, .second-section div button, .first-section div button {
  padding: 10px;
  margin: 20px auto;
  background-color: #6c6d27;
  border-radius: 10px;
  border: 1px solid #e6e61d;
  width: 7rem;
  font-size: large;
  text-decoration: underline;
}

.first-section {
  display: flex;
  justify-content: space-around;
  background-color: #a18a80;
  border-top: 2px solid #d4d636;
}
.first-section img {
  width: 25rem;
  margin: 10px;
}
.first-section div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.first-section div p {
  color: #552509;
  font-size: larger;
  font-style: italic;
}
.first-section div button:hover {
  border: 1px solid #e6e61d;
  box-shadow: 0 0 10px 1px #e6e61d;
}
.first-section div a {
  color: #000;
}
.first-section img {
  border-radius: 10px;
  border: 2px solid #d4d636;
}

.second-section {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  background-color: #b9a97d;
  border-top: 2px solid #d4d636;
}
.second-section img {
  width: 25rem;
  margin: 10px;
}
.second-section div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.second-section div p {
  color: #552509;
  font-size: larger;
  font-style: italic;
}
.second-section div button:hover {
  border: 1px solid #e6e61d;
  box-shadow: 0 0 10px 1px #e6e61d;
}
.second-section div a {
  color: #000;
}
.second-section img {
  border-radius: 10px;
  border: 2px solid #d4d636;
}

footer {
  background-color: #b4953f;
  padding: 2rem;
  text-align: center;
  border-top: 2px solid #d4d636;
}

@keyframes CambioColor {
  0% {
    background-color: #dbbc34;
  }
  50% {
    background-color: #afd888;
  }
  100% {
    background-color: #6e5321;
  }
}
#boton-enviar {
  background-color: #dfd78e;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  animation: CambioColor 3s infinite;
}

iframe {
  width: 100%;
  height: 20rem;
}

.container-logo-wpp {
  display: flex;
  justify-content: end;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#logo-wpp {
  width: 80px;
  animation: tamano 2s infinite;
  margin: 6px;
}

#logo-wpp:hover {
  padding: 10px;
  cursor: pointer;
}

@keyframes tamano {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.main-productos {
  text-align: center;
}
.main-productos h1 {
  color: #362802;
}
.main-productos p {
  color: #552509;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.main-productos .busqueda {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.main-productos .section-productos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  color: #f8fc10;
}
.main-productos .section-productos div .img-modelos-productos {
  width: 20rem;
  height: 20rem;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 1px black;
}
.main-productos .section-productos div .precio {
  font-size: 2rem;
  color: aliceblue;
}
.main-productos .section-productos div button {
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #b4953f;
  background-color: #6e6e47;
  margin: 2px;
}
.main-productos .section-productos div button:hover {
  box-shadow: 0 0 10px 1px #e6e61d;
}

@media (max-width: 768px) {
  header {
    display: block;
  }
  main h1 {
    font-size: 3.5rem;
  }
  .main-productos p {
    margin: 0 20px;
  }
  .main-productos .section-productos div .img-modelos-productos {
    width: 18rem;
    height: 18rem;
  }
  .descripcion {
    margin: 0 20px;
  }
  #navbar-custom {
    display: none;
  }
  #acceso-custom {
    display: none;
  }
  .first-section {
    display: block;
    text-align: center;
  }
  .first-section img {
    width: 17rem;
  }
  .second-section {
    display: block;
    text-align: center;
  }
  .second-section img {
    width: 17rem;
  }
  #carouselExampleSlidesOnly {
    display: block;
  }
  #imagenes-inicio {
    display: none;
  }
  #main-ingresar {
    margin: 200px 0;
  }
  #main-registrarse {
    margin: 100px 0;
  }
  .container-logo-wpp {
    display: flex;
    justify-content: end;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  #logo-wpp {
    width: 50px;
    animation: tamano 2s infinite;
    margin: 6px;
  }
  #logo-wpp:hover {
    padding: 10px;
    cursor: pointer;
  }
  @keyframes tamano {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
}
@media (min-width: 769px) {
  #navbar-bootstrap {
    display: none;
  }
  #carouselExampleSlidesOnly {
    display: none;
  }
}
@media (max-width: 1100px) {
  #imagenes-inicio .imagen-modelos {
    width: 100vh;
    height: 18rem;
  }
  #imagenes-inicio .imagen-modelos:first-child {
    width: 22rem;
    height: 14rem;
  }
  #imagenes-inicio .imagen-modelos:nth-child(3) {
    width: 21rem;
    height: 14rem;
  }
  #imagenes-inicio .imagen-modelos:nth-child(2) {
    width: 23rem;
    height: 14rem;
  }
}

/*# sourceMappingURL=style.css.map */
